html, 
body {
height: 100%;
}

 body {
    background: url(../pozadina.jpg) no-repeat;
    background-size: cover;
     background-attachment: fixed;
    
     
     }
 
.navbar {
    font-size: 30px;
    opacity: 0.5;
}

.navbar:hover {
    opacity: 1;
    
}

.dropdown {
    padding-left: 40px;
}
