html, 
body {
height: 100%;
}

body {
    background: url(../Slike/Zima/zimapozadina.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    
     
     }
.navbar {
    font-size: 30px;
}

.dropdown {
    padding-left: 40px;
}

.thumbnail {
    margin: 20px;
    border: 10px ridge steelblue;
    
    
}

p {
    color: red;
    background-color: beige;
    text-align: center;
    font-family:cursive;
    margin-bottom: 0;
}

img {
     height: 300px;
 width: 400px;
    overflow: hidden;
}

#g {
    height: 25px;
    width: 30px;
}